:root {
  font-size: 3.1vw;
  background-image: url(../images/IMG_20211023_170546.jpg);
  margin: 0;
}

body {
  text-align: center;
}

body > h1 {
  color: goldenrod;
  margin-bottom: 2vw;
}

.cursor:hover {
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-img {
  animation: rotate 10s linear infinite;
}

#song-range[type=range]::-webkit-slider-thumb {
  appearance: none;/*清除系统默认样式*/
  height: 2.3vw;/*拖动块高度*/
  width: 2.3vw;/*拖动块宽度*/
  background: limegreen;/*拖动块背景*/
  border-radius: 50%; /*外观设置为圆形*/
  border: solid 1px #ddd; /*设置边框*/
}

#vol-range[type=range]::-webkit-slider-thumb {
  appearance: none;/*清除系统默认样式*/
  height: 1.6vw;/*拖动块高度*/
  width: 1.6vw;/*拖动块宽度*/
  background: limegreen;/*拖动块背景*/
  border-radius: 50%; /*外观设置为圆形*/
  border: solid 1px #ddd; /*设置边框*/
}

.play-controls {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 0.5vw;
}

.last-next {
  width: 1.7rem;
  height: 1.7rem;
}

.play-seq {
  width: 1.1rem;
  height: 1.1rem;
}

#search-bar {
  font-size: 0.9rem;
  margin-top: 1vw;
  display: flex;
  justify-content: end;
}

#search-bar > * {
  font-size: inherit;
  background-color: rgb(225, 225, 225);
  border: none;
}

#song-item:hover {
  background-color: gold;
}

#song-item:hover .button {
  visibility: visible;
}

#song-item .button {
  font-size: 1rem; 
  visibility: hidden;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: flex-end;
  align-items: center;
}

#pause {
  visibility: hidden;
}

#music-cover:hover #pause {
  visibility: visible;
}